html, body, #root {
  height: 100%;
  margin: 0;
}

body {
  background-image: url('https://www.transparenttextures.com/patterns/food.png');
}

.app-container-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Ensure it takes at least full viewport height */
}

main {
  flex-grow: 1;
  padding-top: 20px; /* Add some padding to the top of the main content */
  padding-bottom: 20px; /* Add some padding to the bottom of the main content */
  
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.navbar-brand {
  font-weight: bold;
}

.footer {
  background-color: #343a40;
  color: white;
  padding: 20px 0;
}

a {
  color: #ef6800;
}

a:hover {
  color: #d65c00;
}